# local emulator on/off
VITE_USE_EMU=true

# Firestore emulator port (firebase.json と同じに)
VITE_FIRESTORE_PORT=8089

# Firebase project config (本番/同名エミュ両対応)
VITE_FIREBASE_API_KEY=__REPLACE_ME__
VITE_FIREBASE_AUTH_DOMAIN=__REPLACE_ME__.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=__REPLACE_ME__
VITE_FIREBASE_STORAGE_BUCKET=__REPLACE_ME__.firebasestorage.app
VITE_FIREBASE_APP_ID=__REPLACE_ME__
